<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <param name="robot_description" command="cat '$(find paucibot_description)/urdf/Paucibot2.urdf'" />
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <node name="pauciBot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model Paucibot" />
</launch>
